# k8s/backend-service.tmpl
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  annotations:
    cloud.google.com/backend-config: '{"default":"backend-hc"}'
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
  - name: http
    port: 80
    targetPort: 8080
  type: ClusterIP
