apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: manhattan-ingress
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.global-static-ip-name: "manhattan-ingress-ip"
    networking.gke.io/managed-certificates: "manhattan-cert"
    kubernetes.io/ingress.allow-http: "true"   # or "false" later
spec:
  rules:
  - host: manhattanmuse.art
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-svc
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend-svc
            port:
              number: 8080
  - host: www.manhattanmuse.art
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-svc
            port:
              number: 80
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend-svc
            port:
              number: 8080
