bottleneck
brotli
contourpy
cycler
fonttools
geographiclib
geopy
joblib
kiwisolver
matplotlib==3.10.0
mkl-service==2.4.0
mkl_fft
mkl_random
numexpr
numpy==2.3.1
packaging
pandas==2.2.3
pillow
pyparsing
PyQt6==6.7.1
PyQt6_sip
python-dateutil
pytz
scikit-learn==1.6.1
scipy==1.15.3
seaborn
setuptools==72.1.0
sip
six
threadpoolctl
tornado
tzdata
wheel==0.45.1
xgboost
fastapi
uvicorn