.comparison-panel {
    position: fixed;
    right: 13vw;
    bottom: 45px;
    display: flex;
    flex-direction: row;
    z-index: 10000;
    animation: fadeInSlide 0.3s ease forwards;
}
.comparison-wrapper{
    position:relative;
    border:1px solid red;
}

.comparison-panel.collapsed {
    animation: fadeOutSlide 0.3s ease forwards;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.comparison-items{
    position: relative;
    justify-items: center;
    align-items: center;
    display: flex;
    padding: 15px;
    gap: 10px;
        height: 20%;
    border-radius: 20px;
    max-width: 100%;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transform: translateX(0);
    margin-right: 40px;
    margin-bottom: 5px;
    transition: all 0.4s ease, transform 0.4s ease, padding 0.4s ease;
}

.comparison-items.collapsed {
    opacity: 0;
    transform: translateX(10px);
    padding: 0;
    pointer-events: none; 
}
.panel-header{
    width: 50px;
    position: absolute;
    padding: 5px;
    bottom: -1px !important;
    right: -25px !important;
}
.comparison-panel.collapsed .panel-header{
    width: 130px;
    bottom: -1;
    right: -25;
}
.collapse-toggle-button{
   background-color: #4B8382;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-family: var(--ff-overpass);
    font-weight: bold;
    color: var(--background);
    font-weight: bold;
    font-size: 15px;
    transition: 0.1s;
    height: 42px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }
  .collapse-toggle-button:hover{
    color: var(--background);
    background-color: var(--on-surface-low-contrast);
    cursor: pointer;
    font-size: 14.5px;
    border-radius: 60px;
  }
.comparison-item{
    display: inline-block;
    background-color:rgba(255, 251, 246, 1);
    padding: 10px;
    border-radius: 15px;
    line-height: 25px;
    width: 150px;
    max-width: 150px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    color: var(--subway-bg);
    font-weight: 600;
    bottom: 7px;
    animation: fadeInSlide 0.3s ease;
}
.comparison-item.collapsed {
    opacity: 0;
    transform: translateY(20px);
    max-height: 0;
    padding: 0;
    pointer-events: none;
}
.clear-button{
    background-color: transparent;
    border: none;
    font-family: var(--ff-overpass);
    font-weight: bold;
    font-size: 10px;
    color: var(--subway-bg);
    position: absolute;
    bottom: 2px;
    right: 12px;
}
.clear-button:hover{
    cursor: pointer;
    color: var(--on-surface-low-contrast);
}
.loc-name-text{
    text-transform: uppercase;
}
.muse-score-text, .est-crowd-text, .crowd-status-text{
    font-family: var(--ff-overpass);
    font-size: 12px;
}
.comparison-panel.collapsed .collapse-toggle-button {
  display: block;
}
.close-item-button{
    background-color: transparent;
    border: none;
    padding:0;
    position: absolute;
    right: 10;
    top:3;
    cursor: pointer;
}
.comparison-count{
    position: absolute;
    display: block;
    bottom:4;
    left: 20;
    font-size: 11px;
    font-family: var(--ff-overpass);
    font-weight: bold;
    color: var(--subway-bg);
}