/* NAVIGATION STYLES */
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.01em;
}

 .hero{
  position:relative;
}
.navigation-wrapper{
  display:flex;
  padding-inline: 130px;
  justify-content: space-between;
  align-items: center;
  height:144px;
  gap:9rem;
   background-image: url('/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index:10;
}
 .logo-div-mobile{
  display:none;
}
.logo{
  height:auto;
  width:410px;
  min-width: 270px;
  margin-top: 7vh;
  margin-left: 8vh;
  display: block;
}
.logo-div-map{
  display:none;
}
 .navigation-item-container{
  padding-inline: 5rem;
}
 .navigation-list{
  gap:4rem;
  text-transform: uppercase;
  color:var(--on-surface-1);
  font-weight: 700;
  font-family: var(--ff-inter);
  margin-top: 5px;
}
 .menuIcon{
  display:none;
}


/* HERO STYLING */
.hero-body{
  position: relative;
  margin-top: 0px;
  justify-content: space-between;
  padding-inline: 150px;
  align-items: center;
  font-family: var(--ff-inter);
   color:var(--on-surface-1);
   /* background-color:var(--background);  */
   flex-wrap: wrap;
   /* border:1px solid red; */
  flex: 1 1 300px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.split-left-home{
    flex-basis: 45%;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.hero-image{
  display: flex;
  max-width: 460px;
  width: 100%;
  height: auto;
  min-width: 400px;
}
.motto-text{
  position:absolute;
  font-family: var(--ff-playfair-display);
  font-size: 32px;
  color: var(--on-surface-2);
  font-style: italic;
  height: auto;
}
.hero-content h2{
  font-family: var(--ff-crimson-text);
   font-weight: 600;
   font-size: clamp(1.5rem, 1vw + 0.5rem, 1rem); 
   line-height: 30px;
}
.hero-content{
  width:600px;
  flex: 1 1 300px;
  max-width: 600px;
  font-family: var(--ff-inter);
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  top:40px;
  color: var(--subway-bg);
  position: relative;
}
.home-map-button{
  margin-top: 30px;
  margin-bottom: 2vw;
  height: 50px;
  align-items: center;
  display: block;
  width: 20vw;
}
@media (min-width:1500px){
  .split-left-home{
    max-width: 30vw;
    justify-content: center;
  }
  .hero-image{
    max-width: 30vw;
    width: 100%;
  }
  .motto-text{
    font-size: 40px;
  }
  .hero-content p{
    font-size: 19px;
    line-height: 30px;
  }
    .hero-content h2{
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width:900px) and (min-width:491px) {
.hero-body{
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  display: flex;
  margin-bottom: 5vw;
  gap: 80px;
}
.hero-content {
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -20vw;
  margin-bottom: 5vw;
  gap: 20px;
}
.home-map-button{
  order: 1;
  justify-content: center;
  width: 100%;
}
.hero-content h2,
.hero-content p {
  order: 2;  /* show after button */
}
.hero-content h2{
  font-size: 25px;
}
.hero-content p{
  font-size: 16px;
}
.hero-image {
    position: relative;
    min-width: 400px;
  }
.motto-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}
}

@media (max-width:490px) {
 .navigation-wrapper{
  background-image: none;
  background-color: var(--background);
  max-width:100%;
  height:100px;
  padding-inline: 2rem;
 }
 .navigation-list{
  display:none;
}
.navigation-item-container,.logo-div-desktop,.logo{
  display:none;
}
.logo-div-mobile{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:50px;
  height:80px;
}
.logoMobile{
 width:100%;
}
.menuIcon{
  display:block;
}
.hero-body{
  padding:8vw;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
   display: flex;
  margin-bottom: 5vw;
}
.hero-content {
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: -20vw;
  margin-bottom: 5vw;
}
.home-map-button{
  order: 1;
}
.hero-content h2,
.hero-content p {
  order: 2;  /* show after button */
}
.hero-content h2{
  font-size: 20px;
}
.hero-content p{
  font-size: 12px;
}
.split-left-home{
  width: 100%;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  display: inline-block;
  text-align: center;
}
.hero-image {
    max-width: 100%;
    position: relative;
    min-width: 200px;
  }
.motto-text{
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}
}