.draw02 {
  position: absolute;
  top: -2%;                /* Adjust this to position the line visually */
  left: 36%;
  width: 47vw;
  aspect-ratio: 690 / 250;
  z-index: 10;
  pointer-events: none;
}

.draw02 svg {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width:900px){
    .draw02{
        display: none;
    }
}