#map-container{
  height: 100vh;
  width: 100%;
  position:relative;
z-index:0 !important;
}
.map-layout{
  position: relative;
}
.mapboxgl-canvas {
  pointer-events: all !important;
}

.reset-button {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    right: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

 .navigation-wrapper-map {
  display: flex;
  padding-inline: 130px;
  justify-content: space-between;
  align-items: center;
  height:144px;
  gap:0rem;
  background-image: url('/waveMap.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:2000; 
}
.logoHidden {
  display: none;
}
.logo-div-mobile{
  display:none;
}
.logoMap{
  height:100px;
  width: 210px;
}
 .logo-div-map{
  position: relative;
  display: flex;
  margin-left: -90px;
  margin-top: 5vh;
  justify-content: center;
 
}
 .navigation-item-container{
  padding-inline: 5rem;
}
 .navigation-list{
  gap:4rem;
  text-transform: uppercase;
  color:var(--on-surface-1);
  font-weight: 700;
  font-family: var(--ff-inter);
  margin-top: 5px;
} .menuIcon{
  display:none;
}
@media (max-width:950px){
  .logo-div-map{
    top: -20px;
    min-width: 210px;
  }
}

@media (max-width:425px) {
  
 .navigation-wrapper{

  background-image: none;
  background-color: var(--background);
  max-width:100%;
  height:100px;
  padding-inline: 2rem;
 }
 .navigation-list{
  display:none;

}
 .navigation-item-container,.logo-div-desktop,.logo{
  display:none;
} .logo-div-mobile{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:50px;
  height:80px;
} .logoMobile{
 width:100%;
} .menuIcon{
  display:block;
}
}


/* https://codepen.io/katia-trifonova/pen/zwZgdx?editors=0110 */
  .numbered-marker {
 
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  z-index:9999;
 
}
.pinShape {
  width: 100%;
  height: 100%;
  background:#52767E;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg) scaleY(1.2);
  position: relative;
 
}

.number {
  position: absolute;
    top: 50%; 
  left: 50%;
   z-index: 2;
  transform: translate(-50%, -50%) rotate(45deg);
  color: #52767E;
  font-size: 10px;
  font-weight: bold;
  width: 8px;
  height: 8px;
  padding:1px;
  border-radius: 50%;
  line-height: 10px;
  text-align: center;
  background: #FFF2E5;
}

.custom-popup {
  position: absolute;
  width:103px;
  padding:8px 8px;
  height:140px;
  bottom: 80px;
  right: 10px;
  border-radius: 15px;
  background: #FEFAF6;
  border: 1px solid #ccc;
  z-index: 10000;
  display: none; 
  pointer-events: none; 
}



.mapboxgl-popup {
  top: auto !important;
  left: auto !important;
  bottom: 80px !important;
  right: 10px !important;
  transform: none !important;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  background: #fff;
   width:103px;
   padding-top: 15px;
  padding-inline:15px;
  height:140px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  color: #2c6d6e;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  max-width: 180px;
display: flex;
justify-content: center;

}

.popup-card .muse-score {
  font-weight: bold;
  margin-bottom: 4px;
}

.popup-card .muse-value {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-inline: 2rem;
}

.popup-card .estimate-crowd-label,
.popup-card .estimate-crowd,
.popup-card .crowd-label {
  margin-top: 8px;
  font-size: 10px;
  color: #2c6d6e;
  font-weight: bold;
  display: flex;
justify-content: center;
font-weight: bold;
  
}

.popup-card .crowd-status {
font-size: 10px;
    color: #2c6d6e;
  padding-inline: 2rem;
  display: flex;
justify-content: center;font-weight: bold;
}



