#map-container{
  height: 100vh;
  width: 100%;
  position:relative;
  z-index:0 !important;
}
.map-layout{
  position: relative;
}
.mapboxgl-canvas {
  pointer-events: all !important;
}

.reset-button {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    width: 8vw;
    height: 3vw;
    right: 42px;
    padding: 4px 15px;
    border-radius: 20px;
    border: none;
    background-color: #4B8382;
    font-size: 1vw;
    font-family: var(--ff-inter);
   color: #FEFAF6;
    font-weight: bold;
     box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }
  .reset-button:hover{
        color: var(--background);
    background-color: var(--on-surface-low-contrast);
        cursor: pointer;
  }

   .navigation-wrapper-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
   position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:2000; 
  /* background-color: var(--background); */
  padding-inline:2rem;
  border-bottom-left-radius: 14.52px;
  border-bottom-right-radius: 14.52px;
  /* box-shadow: 0 4px 1px 0 #00000040; */
}
  .logo-div-map{
 display:none;
}



@media (max-width:425px) {
  
 
 .navigation-list{
  display:none;

}
 .navigation-item-container,.logo-div-desktop,.logo{
  display:none;
} .logo-div-mobile{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:50px;
  height:80px;
} .logoMobile{
 width:100%;
} .menuIcon{
  display:block;
}
}


/* https://codepen.io/katia-trifonova/pen/zwZgdx?editors=0110 */
  .numbered-marker {
 
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  z-index:9999;
}
.pinShape {
  width: 100%;
  height: 100%;
  background:#52767E;
  border-radius: 50% 50% 50% 10%;
  transform: rotate(-45deg) scaleY(1.5) scaleX(1.5);
  position: relative;
}

.number {
  position: absolute;
    top: 50%; 
  left: 50%;
   z-index: 2;
  transform: translate(-50%, -50%) rotate(45deg);
  color: #52767E;
  font-size: 12px;
  font-weight: bold;
  width: 11px;
  height: 11px;
  padding:1px;
  border-radius: 50%;
  line-height: 10px;
  text-align: center;
  background: #FFF2E5;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.custom-popup {
  position: absolute;
  width:103px;
  padding:8px 8px;
  height:140px;
  bottom: 80px;
  right: 10px;
  border-radius: 15px;
  background: #FEFAF6;
  border: 1px solid #ccc;
  z-index: 10000;
  display: none; 
}

.mapboxgl-popup {
  top: auto !important;
  left: auto !important;
  bottom: 110px !important;
  right: 15px !important;
  animation: popupAppear 0.5s ease forwards;
  transform-origin: bottom center;
}
@keyframes popupAppear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.mapboxgl-popup-tip{
  display: none !important;
  opacity: 0 !important;
}
.mapboxgl-popup-content {
  border-radius: 8px;
  background: #fff;
   width:130px;
   padding-top: 15px;
  padding-inline:15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  color: #2c6d6e;
  font-family: var(--ff-inter);
  font-size: 22px;
  line-height: 1.4;
  max-width: 180px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
}

.popup-card .muse-score {
  font-weight: 900;
  margin-bottom: 4px;
  padding-inline: 0.5rem;
  font-family: var(--ff-playfair-display);
}

.popup-card .muse-value {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 8px;
  padding-inline: 2.5rem;
  font-family: var(--ff-playfair-display)
}

.popup-card .estimate-crowd-label,
.popup-card .estimate-crowd,
.popup-card .crowd-label {
  margin-top: 8px;
  font-size: 12px;
  color: #2c6d6e;
  font-weight: 600;
  display: flex;
justify-content: center;
font-weight: bold;
}

.popup-card .crowd-status {
font-size: 12px;
    color: red;
  padding-inline: 2rem;
  display: flex;
justify-content: center;
font-weight: 600;
}


.popup-card {
  position: relative; /* make it a positioning context */
}

.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #2c6d6e;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 0px;
  z-index: 1000;
}

.tooltip {
  position: absolute;
  top: -14vw;
  right: -1vw;
  background: #FFFAF5;
  color: #52767E;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  font-family: var(--ff-inter);
  font-size: 10.5px;
  font-weight: 400;
  width: 180px;
  z-index: 10;
  border: none;
  opacity: 0.92;
  display: none; /* hidden by default */
}
.tooltip p {
  opacity: 1;
}
.directions{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.directions-button:hover{
  cursor: pointer; 
  color: var(--on-surface-low-contrast);
}

.directions-image{
  height: 30px;
  width:auto;
filter: invert(28%) sepia(12%) saturate(1262%) hue-rotate(137deg) brightness(130%) contrast(88%);

}
.directions-button{
  font-family: var(--ff-overpass);
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #2c6d6e;
  text-decoration: underline;
  z-index: 5000;
}


@media(min-width:700px){
  
.logoHidden {
  display: none;
}
.logo-div-mobile{
  display:none;
}
.logo-div-map{
  display:none;
}
 .menuIcon{
  display:none;
}
.logo-div-desktop,.logo{
  display:block;
}

 .navigation-item-container{
  padding-inline: 5rem;
}
 .navigation-list{
  gap:4rem;
  text-transform: uppercase;
  color:var(--on-surface-1);
  font-weight: 700;
  font-family: var(--ff-inter);
  margin-top: 5px;
} .menuIcon{
  display:none;
}
.logo{
  height:auto;
  width:270px;
  min-width: 270px;
  margin-top: 7vh;
  margin-left: 8vh;
 
}

 

 .navigation-list{
  display: flex;
  gap:3rem !important;
  margin-top: 5px;
}
 .logo-div-map{
  position: relative;
  display: flex;
  margin-left: -90px;
  margin-top: 5vh;
  justify-content: center;
 
}
}

@media(min-width:900px){
  .logoMap{
  height:100px;
  width: 210px;
}
   .navigation-wrapper-map {
  display: flex;
  padding-inline: 130px;
  justify-content: space-between;
  align-items: center;
  height:144px;
  gap:0rem;
  background-image: url('/waveMap.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:2000; 
}

.logo-div-desktop,.logo{
  display:block;
}


.logo{
  height:auto;
  width:300px;
  min-width: 270px;
  margin-top: 7vh;
  margin-left: 8vh;
 
}

 .navigation-item-container{
  padding-inline: 5rem;
}
 .navigation-list{
  display: flex;
  gap:4rem;
  margin-top: 5px;
}
}


  
@media (max-width:950px){
  .logo-div-map{
    top: -20px;
    min-width: 210px;
  }
}



@media(min-width:1200px){
 






}