.sidebarContainer{
    width:280px;
     min-height: 530px;  
    height: auto; 
    border-radius: 56px;
    background-color: var(--background);
    box-shadow: 0 4px 20.5px 3px #00000025;
    padding-inline:20px;
    padding-top: 35px;
    font-family:var(--ff-inter);
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:160px;
    left:50px;
    z-index:10;
    margin-bottom: 10rem;
}

.activityWrapper{
    width:220px;
    min-height: 30px;
    position: relative; 
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-bottom: 0.1rem;
 padding-top: 0.2rem;
 padding-inline: 0.1rem;
     font-size: 18px;
    text-transform: uppercase;
    background-color: #FFFBF6;
    margin-top: 25px;
    font-weight: 700;
    border:5px solid #4B8382;
    border-radius: 8px;
    margin-bottom: 12px;
     font-family: var(--ff-overpass);
}
.readableTimeContainer{
  display:flex;
  width:230px;
  justify-content: space-between;

}

.dateWrapper,.timeWrapper{
  background-color: #FFFBF6;
 padding-inline: 0.1rem;
 min-height: 30px;
 border:5px solid #4B8382;
    border-radius: 8px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
 justify-content: space-between;
 align-items: center;
 width:90px;
 padding-top: 0.1rem;
 padding-bottom: 0.1rem;
  font-family: var(--ff-overpass);
}

.sidebarInner img{
    width:45px;
} 


.dateContainer{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:20px;
}

div.vl{
    all:unset;
    border-left: 1px solid #FFFFFF;
    height:60px;
   
}





.userdateContainer{
      
      z-index:20000;
      display: flex;
      
}






.weatherDisplay {
  margin-top: 1rem;
  font-size: 18px;
  color: var(--subway-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.locationHeader{
    display:flex;
    align-items: center;
    margin-top: 1rem;
    padding-inline: 1rem;
     color: var(--subway-bg);
     font-weight: 700;
     font-family: var(--ff-inter);
     font-size:15px;
     gap:0.2rem;
}
.locationHeader>button{
    background-color: transparent;
    padding:0;
    border:0;
    z-index:10;
}

.recArea{
    display: flex;
    flex-direction: column;
    margin-top:0.5rem;
}

.area{
    width: 100%;
    text-align: center;
}

.locationListContainer {
    margin-top:0.5rem;
  padding-inline: 16px;
 
  border-radius: 12px;
 
  
  
}

.locationItem {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-inline: 0.2rem;
  width:100%;
  margin-bottom: 4px;
  background-color: #F4F5F2;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #697F6E;
  border: 1px solid #ddd;
  display:flex;
  gap:0.2rem;
  box-shadow: 3px 4px 4px 0 #00000040;
  font-family: var(--ff-overpass);
  font-weight: 600;
}

.index{
    border-radius: 50%;
    width:32px;
    height:25px;
    background-color: #697F6E;
    color:#F4F5F2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.locationName{
 border-radius: inherit;
 padding-inline:10px;
 width:100%;
 padding-top:5px;
 padding-bottom:5px;
 text-transform: lowercase;
 display: flex;
 justify-content: center;
   font-family: var(--ff-overpass);
  font-weight: 600;
  text-transform: uppercase;
}

.suggestedLocations{
    background-color: #A2B9A7;
     margin-top:1rem;
    background-color: rgba(162, 185, 167, 0.26);
    height:140px;
    z-index:10;
    border-radius: 18px;
    padding-top:1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    width:100%;

}
.suggestedLocations>span{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
      color: var(--subway-bg);
}
.suggestedItems{
    text-transform: capitalize;
     padding-inline: 1rem;
     max-height: calc(140px - 0.5rem);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
         
}
.suggestedItems::-webkit-scrollbar {
    width: 4px;
}

.suggestedItems::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}
.suggestedItems::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
.suggestedItems::-webkit-scrollbar-track {
  background: transparent;
}

.suggestedAreas {
  padding-top: 8px;
  padding-bottom: 7px;
  display:flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
  background-color: #FFFBF6;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  font-family: var(--ff-inter);
  color: var(--subway-bg);
  border: 1px solid #ddd;
  

}

.inactive{
    color:#A2B9A7;
}

.buttonTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearIcon {
  cursor: pointer;
 display:flex;
    align-items: center;
    justify-content: center;
     width:13px;
    height:15px;
    color:#FEFAF6;
    margin-left: 0.4rem;
    opacity:60%;
  transition: color 0.2s ease;
}

.clearIcon:hover {
  color: #333;
}
.buttonStyle{
    font-family: var(--ff-inter);
    font-size: 15px;
    margin-top:2px;
    font-weight: bold;
   padding-inline:1rem;
   padding-top: 0.5rem;
   padding-bottom:0.5rem;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    color: #FEFAF6;
    background-color: var(--subway-bg);
    transition: 0.3s;
    cursor: pointer;
}

.buttonStyle:hover{
    font-family: var(--ff-inter);
    font-size: 13px;
    font-weight: bold;

    border-radius: 40px;
    color: var(--background);
    background-color: var(--on-surface-low-contrast);
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease, transform 0.3s ease;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.noRecommendations{
  color:var(--subway-bg);
  margin-top: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.dateEmptyText{
  font-size: 12px;
}





.selectedItem {
  font-size: 12px;
  
}

.locationListContainer>button{
  background-color: transparent;
  border:0;
   width:100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}



.locationListContainer>button:hover{
cursor: pointer;
}

