.dropdown-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.1rem;
    cursor: pointer;
    height:30px;
    overflow: hidden;
      border-radius: 5px;
      margin-bottom: 0.1rem;
      text-align: center;
      max-width: 100%;
      padding-inline: 1.5rem;
}

.toggle-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    width:11px;
    height:5px;
    color:var(--on-surface-1);
    margin-left: 0.4rem;
    opacity:60%;
}

@media (min-width:900px){
    .dropdown-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #4B8382;
    padding-top: 0.1rem;
    cursor: pointer;
    height:25px;
    overflow: hidden;
     color:#FEFAF6;
      border-radius: 5px;
      border:5px solid #4B8382;
      margin-bottom: 0.1rem;
      text-align: center;
      width: 210px;
    padding-inline: 0.1rem;
}

.toggle-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    width:11px;
    height:5px;
    color:#FEFAF6;
    margin-left: 0.4rem;
    opacity:60%;
}

}