.dropdown-content{
  position: absolute;
  top: 100%;
  left:0;
  margin-bottom: 1rem;
    min-width: 100%;
    width:100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    background-color:#FFFAF5;
    color:#52767E;
    max-height: 30vh;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 1;
   display:none;
 
    border-radius: 20px;
    font-weight: 400;
    animation: fadeSlideOut 0.3s forwards ease;
}

.dropdown-content::-webkit-scrollbar{
    width:0;
    height:0;
}

.content-open{
    pointer-events: all;
    z-index:100;
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-10px);
animation: fadeSlideIn 0.3s forwards ease;
}
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeSlideOut {
  to {
    opacity: 0;
    transform: translateY(-10);
  }
}

@media(min-width:900px){
  .dropdown-content{
    position: absolute;
  top: 100%;
  left:0;
  margin-bottom: 1rem;
    min-width: 100%;
    width:100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    background-color:#FFFAF5;
    color:#52767E;
    max-height: 30vh;
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 1;
   display:none;
    border-radius: 20px;
    font-weight: 400;
    animation: fadeSlideOut 0.3s forwards ease;
}

.dropdown-content::-webkit-scrollbar{
    width:0;
    height:0;
}

.content-open{
    pointer-events: all;
    z-index:100;
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-10px);
animation: fadeSlideIn 0.3s forwards ease;
}
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeSlideOut {
  to {
    opacity: 0;
    transform: translateY(-10);
  }
}
}
