.time-dropdown-btn{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--subway-bg);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
       pointer-events: auto;
       position: relative;
       width:70px;
    height:31px;
    color:#FEFAF6;
    font-weight: 700;
    padding-top: 0.1rem;
    padding-inline: 0.6rem;
    height:31px;
    color:#FEFAF6;
}

.time-toggle-icon{
    display:flex;
    align-items: center;
    justify-content: center;
     width:11px;
    height:5px;
    color:#FEFAF6;
    margin-left: 0.4rem;
    opacity:60%;
}

