.time-dropdown-btn{
     display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.1rem;
    cursor: pointer;
    height:30px;
    overflow: hidden;
      border-radius: 5px;
      margin-bottom: 0.1rem;
      text-align: center;
      max-width: 100%;
      font-weight: 700;
      padding-inline: 0.1rem;
    
}

.time-toggle-icon{
    display:flex;
    align-items: center;
    justify-content: center;
     width:11px;
    height:5px;
    color:var(--on-surface-1);
    margin-left: 0.4rem;
    opacity:60%;
}

@media (min-width:900px){
    .time-dropdown-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #4B8382;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
       pointer-events: auto;
       /* position: relative; */
       width:80px;
    height:31px;
    color:#FEFAF6;
    font-weight: 700;
    padding-top: 0.1rem;
    padding-inline: 0.6rem;
    height:31px;
    color:#FEFAF6;
    text-align: center;
}

.time-toggle-icon{
    display:flex;
    align-items: center;
    justify-content: center;
     width:11px;
    height:5px;
    color:#FEFAF6;
    margin-left: 0.4rem;
    opacity:60%;
}
}